---
import { SITE } from '../site.config'
---

<footer class="site-footer">
  <p>{SITE.name} is built for maintainers who live in manifests.</p>
  <div>
    <a href="/docs">Docs</a>
    <a href={SITE.githubUrl}>GitHub</a>
    <a href="https://github.com/sponsors/santi020k">Sponsor</a>
  </div>
</footer>
